In [41]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# import the data

In [42]:
data=pd.read_csv('C:/Users/CVR/Downloads/csvdata.csv')
print(data)

       Unnamed: 0       City     Price  Area                         Location  \
0               0  Bangalore  30000000  3340                 JP Nagar Phase 1
1               1  Bangalore   7888000  1045       Dasarahalli on Tumkur Road
2               2  Bangalore   4866000  1179  Kannur on Thanisandra Main Road
3               3  Bangalore   8358000  1675                     Doddanekundi
4               4  Bangalore   6845000  1670                          Kengeri
...           ...        ...       ...   ...                              ...
29130        7714     Mumbai  14500000  1180                   Mira Road East
29131        7715     Mumbai  14500000   530                     Naigaon East
29132        7716     Mumbai   4100000   700                         Shirgaon
29133        7717     Mumbai   2750000   995                   Mira Road East
29134        7718     Mumbai   2750000  1020                   Mira Road East

       No. of Bedrooms
0                    4
1                    2
2                    2
3                    3
4                    3
...                ...
29130                2
29131                1
29132                1
29133                2
29134                2

[29135 rows x 6 columns]

# Droping a column from the dataset

In [47]:
data1=data.drop(['Unnamed: 0'],axis=1)

# Correlation

In [8]:
data1.corr()

                    Price      Area  No. of Bedrooms
Price            1.000000  0.268954         0.150691
Area             0.268954  1.000000         0.709645
No. of Bedrooms  0.150691  0.709645         1.000000

# Datatypes

In [9]:
data1.dtypes

City               object
Price               int64
Area                int64
Location           object
No. of Bedrooms     int64
dtype: object

# Splitting the data

In [37]:
y=data1['Price']
x=data1.drop(['Price','City','Location'],axis=1)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.05)

# Importing linear regression

In [49]:
from sklearn.linear_model import LinearRegression
LM=LinearRegression()

# Training the datasets

In [48]:
LM.fit(x_train,y_train)

LinearRegression()

# Predicting the test values

In [39]:
pred=LM.predict(x_test)

# Calculating the mean squared error

In [40]:
from sklearn.metrics import mean_squared_log_error as msle
msle(y_test,pred)

0.7218607337449509